In [336]:
# l1=[]
# a=0
# for i in range(1,6):
#     a=a+1
#     print(a)
#     if(a%2!=0):
#      l1.append(a)
# print(a)
# print(l1)
# l2=[i for i in range(1,6) if(i%2==0)]
# print(l2)
# x=["a", "b", "c", "d", "e"]
# l3=[i.upper() for i in x if(i in "aeiou")]
# print(l3)
l = [11,12,3,4,5,6,3,4]
# m = [200,300,400]
# l.extend(m)
# print(l)
l.sort()
print(l)

[3, 3, 4, 4, 5, 6, 11, 12]

In [337]:
string = "chandni"
a = len(string)
l.append(a) 
print(l)

[3, 3, 4, 4, 5, 6, 11, 12, 7]

In [338]:
squares = [num**2 for num in range(1, 10)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [339]:
string_list = ["apple", "banana", "cherry"]
string_length = [len(string) for string in string_list]
print(string_length)

[5, 6, 6]

In [340]:
numbers_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_list = [num for num in numbers_list if num % 2 == 0]
print(filtered_list)

[2, 4, 6, 8, 10]

In [341]:
string = "Hello World"
x = [a for a in string if(a in "aeiou")]
print(x)

['e', 'o', 'o']

In [1]:
list = [1,2,3,4]
lis = [i*i for i in list]
print(lis)

[1, 4, 9, 16]

In [342]:
numbers_list = [1,2,3,4,5,6]
transformed_list = [num * 2 if num % 2 == 0 else num**2 for num in numbers_list]

print(transformed_list)

[1, 4, 9, 8, 25, 12]

In [343]:
primes = [num for num in range(1, 101) if(num % i!= 0 )]

print(primes)

[1, 2, 3, 5, 6, 7, 9, 10, 11, 13, 14, 15, 17, 18, 19, 21, 22, 23, 25, 26, 27, 29, 30, 31, 33, 34, 35, 37, 38, 39, 41, 42, 43, 45, 46, 47, 49, 50, 51, 53, 54, 55, 57, 58, 59, 61, 62, 63, 65, 66, 67, 69, 70, 71, 73, 74, 75, 77, 78, 79, 81, 82, 83, 85, 86, 87, 89, 90, 91, 93, 94, 95, 97, 98, 99]

In [344]:
primes = []

for num in range(2, 20):
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        primes.append(num)

print(primes)

[2, 3, 5, 7, 11, 13, 17, 19]

In [12]:
int(2**0.5)+1

2

In [11]:
n = 5
for i in range (1, n+1):
    for j in range(1, i+1):
        print("1", end = " ")
    print()

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [345]:
n = 4
for i in range(1,n+1):
    for j in range(1,i+1):
          print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [347]:
for i in range(1,100):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [348]:
N = 4

for i in range(1, N+1):
    for j in range(i, ):
        print(i, end="")
    print()

1
22
333
4444

In [16]:
n = 4
for i in range(1, n+1):
    for j in range(1,i+1):
        print(n, end="")
    print()

4
44
444
4444

In [350]:
N = 5
for i in range(1, N+1):
    for j in range(i, 0, -1):
        print(j, end="")
    print()

1
21
321
4321
54321

In [351]:
range(4, 0, -1)

range(4, 0, -1)

In [352]:
for k in range(4, 0, -1):
        print(k)

4
3
2
1

In [21]:
N = 5

start_char = ord('E')

for i in range(N):
    for j in range(i, i + i + 1):
        print(chr(start_char + j), end="")
    print()

E
FG
GHI
HIJK
IJKLM

In [19]:
ad = ord('e')
ad

101

In [355]:
s1 = {1,2,4,5,6}
s2 = {4,3,2,6,5}
print(s1.intersection(s2))

{2, 4, 5, 6}

In [356]:
names = ["Alice", "Bob", "Charlie"]
length_name = {name:len(name) for name in names}
print(length_name)

{'Alice': 5, 'Bob': 3, 'Charlie': 7}

In [357]:
string = "hello"
string_lengths = {letter: string.count(letter) for letter in string}
print(string_lengths)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [358]:
dict = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 95}
threshold = 90

above_threshold = {name: marks for name, marks in dict.items()if marks > threshold}

print(above_threshold)

{'Bob': 92, 'David': 95}

In [361]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
cartesian_product = [x for x in [(a , b )for a in list1 for b in list2]]
print(cartesian_product)

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [250]:
n = 4
for i in range(1,n+1):
    for j in range(1,i+1):
          print("1",end="")
    print()

1
11
111
1111

In [247]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
string_length = [string for string in string_list if len(string) >5]
print(string_length)

['banana', 'cherry', 'elderberry']

In [378]:
l1 = [1,2,3,4,5]
l2 = l1[::-1]
print(l2)
print(type(l2))

[5, 4, 3, 2, 1]
<class 'list'>

In [367]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [368]:
import sys
print("Python version")
print (sys.version)
print("Version info.")
print (sys.version_info)

Python version
3.8.10 (default, May 26 2023, 14:05:08)
[GCC 9.4.0]
Version info.
sys.version_info(major=3, minor=8, micro=10, releaselevel='final', serial=0)

In [369]:
from math import pi
r = float(input ("Input the radius of the circle : "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

ValueError: could not convert string to float: ''

In [374]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

TypeError: 'tuple' object is not callable

In [375]:
import calendar
y = int(input("Input the year : "))
m = int(input("Input the month : "))
print(calendar.month(y, m))

     April 2023
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

In [376]:
pi = 3.1415926535897931
r= 6.0
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  904.7786842338603

In [388]:
final = [[x, y] for x in [10, 20, 30] for y in [30, 10, 20] if x != y]
print(final)

[[10, 30], [10, 20], [20, 30], [20, 10], [30, 10], [30, 20]]

In [385]:
class Person:
    def  __init__(self, n, o):
        print("hey i am a person")
        self.name = n
        self.occ = o

    def info(self):
        print(f"{self.name} is a {self.occ}")

a = Person("harry", "Developer")
b = Person("Divya", "HR")
a.info()
b.info()

hey i am a person
hey i am a person
harry is a Developer
Divya is a HR

In [22]:
def square_number(n):
    return n**2

In [23]:
square_number(5)

25

In [24]:
square = lambda n: n**2
square(5)

25

In [25]:
(lambda n: n**2)(5)

25

In [28]:
def gen_exp(n):
    def exp(x):
        return x**n
    return exp
exp_2 = gen_exp(2)
exp_2(2)

4

In [36]:
def say_hello():
    print('-'*20)
    print("hello")
    print("-"*20)
def say_bye():
    print("bye!")    
say_hello()

--------------------
hello
--------------------

In [37]:
def pretty(f):#higher order function
    def random(): 
       print('-'*20)
       f()
       print('-'*20)
    return random

In [40]:
say_bye = pretty(say_bye)
say_bye()

--------------------
bye!
--------------------

In [41]:
@pretty
def say_whatsapp():
    print("whatsapp")
say_whatsapp()

--------------------
whatsapp
--------------------