In [33]:
import mysql.connector

In [34]:
conn = mysql.connector.connect(user='db', database = 'mydb',
                               password='Welcome@123@',
                               host='localhost',
                               port=3306)

In [35]:
cursor = conn.cursor()

In [36]:
print(cursor)

CMySQLCursor: (Nothing executed yet)

In [93]:
cursor.execute("CREATE TABLE student (name VARCHAR(255), address VARCHAR(255))")

In [37]:
sql = "INSERT INTO student (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
cursor.execute(sql, val)
conn.commit()

In [38]:
sql = "INSERT INTO student (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]
cursor.executemany(sql, val)
conn.commit()

In [39]:
select_query = "select * from student"
cursor.execute(select_query)

In [40]:
ret = cursor.fetchmany(size = 6)
print(ret)

[('John', 'Highway 21'), ('Peter', 'Lowstreet 4'), ('Amy', 'Apple st 652'), ('Hannah', 'Mountain 21'), ('Michael', 'Valley 345'), ('Sandy', 'Ocean blvd 2')]

In [42]:
cursor.execute(select_query)
for row in cursor:
    print(row)

InternalError: Unread result found